doctype html
html
    head
        title Matthew Dean
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
        link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab' rel='stylesheet')
        link(rel='stylesheet' href='index.css')
    
    body
        header
            img(class='portrait' src='assets/portrait.jpg')
            div(class='name')
                h1 Matthew
                h2 B. Dean
        
        main(class='card')
            section
                h1 Languages

                - var year = new Date().getFullYear();
                - var durations = languages.map((l) => year - l.yearStarted);
                - var max = Math.max(...durations);

                each lang in languages
                    div(class='duration-indicator')
                        div(class='filled-duration' style=`flex-grow: ${year - lang.yearStarted}`)
                            span(class='lang-name') #{lang.name}
                            span(class='filler')
                            span(class='duration')= '~' + (year - lang.yearStarted) + ' years'
                        span(class='empty-duration' style=`flex-grow: ${max - (year - lang.yearStarted)}; display: ${(year - lang.yearStarted === max) ? 'none' : 'inline'}`)
            
                p
                 | I am the most familiar with Java, but if the project targets the JVM, Kotlin is my preferred
                 | language.
                
                p
                 | I am most comfortable writing web applications TypeScript for both the server and client side of the
                 | project, but I'm willing to learn new languages and technologies if need be.
            section
                h1 Projects

                p
                 | This is a small selection of my open source projects I think are the most interesting. The full list
                 | can be found on my <a href="https://github.com/mattbdean">GitHub</a>.
                
                h2 <a href="https://github.com/mattbdean/Helium">Helium</a>
                
                div(class='tag-container')
                    span(class='tag') TypeScript
                    span(class='tag') Angular
                    span(class='tag') MySQL
                    span(class='tag') Express.js

                p 
                 | Helium is a Material Design webapp for DataJoint originally written for the Svoboda Lab located at
                 | HHMI Janelia Research Campus. It is designed to be an extra-simple interface into any MySQL database
                 | with extra convenience if DataJoint was used to create it. Helium is used by several labs
                 | internationally and is the most prominent graphical interface for DataJoint.
                
                p
                 | Helium is written in TypeScript and uses Express.js and Angular to provide and consume a JSON API.

                h2 <a href="https://github.com/mattbdean/novaXfer">novaXfer</a>

                div(class='tag-container')
                    span(class='tag') TypeScript
                    span(class='tag') Angular
                    span(class='tag') MongoDB

                p
                 | novaXfer is a tool that allows a student with credits from the Northern Virginia Community College
                 | (aka NOVA) quickly determine to which four-year universities their credits will transfer to.

                p
                 | novaXfer was initially used by my friends, but this tool's popularity gradually grew through word of
                 | mouth. novaXfer ran for about a year, and while it's no longer actively maintained, it helped an
                 | estimated several hundred fellow students more clearly understand which of their credits
                 | would transfer to prominent four-year universities in the area.
                
                p
                 | novaXfer was my first "real" project with JavaScript, Express, AngularJS, and MongoDB. After learning
                 | TypeScript and Angular, I rewrote the entire project several times as I quickly learned how to better
                 | express my intents with JavaScript code, and once more when I migrated the app to TypeScript and the
                 | new Angular.
                
                h2 <a href="https://github.com/mattbdean/JRAW">JRAW</a>

                div(class='tag-container')
                    span(class='tag') Kotlin
                    span(class='tag') Gradle
                    span(class='tag') JUnit 5
                
                p
                 | The Java Reddit API Wrapper (JRAW) is, as its name suggests, a simplistic wrapper for the reddit API
                 | originally written in Java. It features a simplistic, fluent API and is the most popular library
                 | among its competitors. JRAW is a core component in several popular Android apps and has been utilized
                 | by data scientists for personal projects.
                
                p
                 | Created in May 2014, JRAW was my very first open-source project. It went through two rewrites, one
                 | very early in its life to migrate to a more modern HTTP library, and a second time to redesign the
                 | API and migrate the entire project to Kotlin.

            section
                h1 Education
                
                div(class='education-container')
                    each school in education
                        div(class='school')
                            span(class='school-name') #{school.name}
                            span(class='school-loc') #{school.loc}
                            span #{school.from} - #{school.to}

                        div(class=`school-connector ${school !== education[education.length - 1] ? '' : 'gone'}`)
            
            section
                h1 Employment
                
                h2 Janelia Research Campus
                span(class='subtitle') Ashburn, VA | February 2017 - Present

                p
                 | My current position is at the Howard Hughes Medical Instute's (HHMI) Janelia Research Campus under
                 | the direction of <a href="https://www.janelia.org/lab/svoboda-lab">Karel Svoboda</a>. This position
                 | requires that I am knowledgeable about TypeScript, Node.js, Express, Angular, MySQL, and MongoDB.

                p
                 | At the lab, I was able to optimize an internal webapp used to analyze dendritic activity in mice
                 | brains. The website's initial load time was cut by 90% and runs smoothly even when viewing sessions
                 | with gigabytes worth of data.
                
                p
                 | My current project is Helium, mentioned in the Projects section above. I wrote the app from scratch
                 | and we are now focused on bug fixes, minor features, and quality of life improvements.

                h2 Harris Teeter
                span(class='subtitle') Ashburn, VA | July 2014 - May 2018

                p
                 | Harris Teeter gave my first ever job at 16 years old. I was hired as a Bagger and was given the
                 | opportunity to work as a Cashier, a Customer Service Clerk, and a Pharmacy Technician. I consider
                 | this period in my life pivotal to my development as a functional and well put-together adult. During
                 | my time here I gained a work ethic, time management skills, and a deeper respect for those in the
                 | customer service industry.